<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request</title>
</head>
<body>
    <form action="{% url 'coworking:info' %}" method="get" class="form-example">
        <div class="form-example">
          <label for="coworking_name">Coworking name: </label>
          <select name="coworking_name" id="name" required>
              <option value="Kronverkskii 2-nd floor">Kronverkskii 2-nd floor</option>
              <option value="Kronverkskii 3-rd floor">Kronverkskii 3-rd floor</option>
              <option value="Lomonosova 2-nd floor">Lomonosova 2-nd floor</option>
              <option value="Lomonosova 4-th floor">Lomonosova 4-th floor</option>
          </select>
        </div>
        <div class="form-example">
          <input type="submit" value="Create Request">
        </div>
    </form>
    <div>
        <p>{{ answer }}</p>
    </div>
</body>
</html>